
.container{
    display: flex;
    margin: 0%;
    padding: 0%;
    text-align: center;
    
}

#redSquere ,#blueSquere ,#greenSquere {
    width: 100px;
    height: 100px;

}

#redSquere{
    
    background: red;
}


#blueSquere{
    background: blue;
}

#greenSquere{
    background: green;
}